body {
	background-color: #F1F1F1;
}

section {
	margin: 50px 0;
}

.container {
	max-width: 1165px;
	width: 100%;
	margin: 0 auto;
}

.images {
	display: inline-block;
	vertical-align: top;
}

img {
	display: block;
}

.group1 {
	margin-right: 40px;
}

.group1 img:first-child {
	margin-bottom: 42px;
}

.group2 img:not(:last-child) {
	margin-bottom: 98px;
}

footer {
	background-color: #243043;
	width: 100%;
	padding-top: 60px;
	padding-bottom: 45px;
}

.nav {
	display: inline-block;
	vertical-align: top;
}

.nav div {
	display: inline-block;
	vertical-align: top;
	margin-right: 75px;
}

.img {
	display: inline-block;
	vertical-align: top;
}

.nav p {
	color: #818687;
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 12px;
	margin-bottom: 14px;
}

.img {
	position: absolute;
	right: 0;
}


.container2 {
	position: relative;
	max-width: 1165px;
	width: 100%;
	margin: 0 auto;
}

h1 {
	margin-left: 50px;
	margin-bottom: 32px;
}

.container3 {
	width: 362px;
	height: 171px;
	margin-left: 50px;
	background-color: #FFFFFF;
	position: relative;
	border-radius: 5px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	padding-top: 68px;
	padding-left: 32px;
	padding-right: 84px;
	color: #8A8787;
	display: inline-block;
	
}
.container3 img {
	padding-top: 3px;
	display: inline-block;
}

.time {
	display: inline-block;
}

.foto {
	margin-left: 50px;
	vertical-align: top;
	display: inline-block;
}

.foto h2 {
	display: inline-block;
	position: absolute;
	z-index: 10;
	margin-bottom: 1000px;
	margin-left: 50px;
	color: #FFFFFF;
}

.foto2 {
	display: inline-block;
	margin-left: 942px;
	vertical-align: top;
}